@import "../../style.scss";

.profile {
    @include themify($themes) {
        background-color: themed("bgSoft");

        @include tablet {
            width: 90vw;
            padding: 15px;
        }

        @include mobile {
            width: 100vw;
            padding: 0px;
            overflow: hidden;
        }

        .images {
            width: 78%;
            height: 300px;
            position: relative;
            margin: auto;

            @include tablet {
                width: 92%;
            }

            .cover {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;


                @include tablet {
                    width: 100%;
                }

                @include mobile {
                    width: 100%;
                }
            }

            .profilePic {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                top: 150px;
            }
        }

        .profileContainer {
            padding: 20px 70px;

            @include tablet {
                padding: 20px;
            }

            @include mobile {

                padding: 10px;
            }



            .uInfo {
                min-height: 250px;
                border: 1px solid themed("border");
                border-radius: 20px;
                background-color: themed("bg");
                color: themed("textColor");
                padding: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;

                @include mobile {
                    flex-direction: column;
                    height: 30vh;
                    padding: 10px;
                    margin-top: 70px;
                    gap: 10px;
                }

                .left {
                    flex: 1;
                    display: flex;
                    gap: 10px;

                    @include tablet {
                        flex-wrap: wrap;
                    }

                    a {
                        color: themed("textColorSoft");
                    }
                }

                .center {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                    margin-top: 10px;

                    @include mobile {
                        gap: 10px;
                    }

                    span {
                        font-size: 30px;
                        font-weight: 600;
                    }

                    .info {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;

                        .item {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            color: themed("textColorSoft");

                            span {
                                font-size: 12px;
                            }
                        }
                    }

                    button {
                        border: none;
                        background-color: #5271ff;
                        color: white;
                        padding: 10px 20px;
                        border-radius: 5px;
                        cursor: pointer;

                    }
                }

                .right {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 10px;
                }
            }
        }
    }
}